.Categories {
  width: 90%;
  margin: 2rem auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .heading {
    padding: 1rem 0;

    h1 {
      padding: 0.3rem 0;
      color: #696969;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 900;
    }
    p {
      font-size: 1rem;
      color: #333;
    }
  }

  .category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .category1 {
      width: 200px;
      height: 120px;
      background: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      cursor: pointer;
      border-radius: 10px;

      .heading1 {
        h3 {
          padding: 0.1rem;
          font-size: 1.3rem;
          color: #403c3c;
        }
      }
      .bottomtext {
        display: flex;

        p {
          padding: 0.5rem;
          font-size: 1.1rem;
        }
      }

      &:hover {
        background: #fe520e;
        .heading1 {
          h3 {
            color: #fff;
          }
        }
        .bottomtext {
          p {
            color: #eee;
          }
        }
      }
    }
  }
}
